@media screen and (max-width: 866px) {
  .title_logo_container {
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .title_logo h1 {
    font-size: 4.1rem;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 1;
  }
}
@media screen and (max-width: 480px) {
  .title_logo h1 {
    font-size: 3.1rem;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 1;
  }

  .title_logo_container {
    background-position: -60px;
  }
  .title_logo img {
    margin-bottom: 25px;
    width: 159px;
    height: 43.5px;
  }
}
/* @media screen and (max-width: 1420px) {
  .right p {
    top: 100px;
    left: 80px;
    width: 60%;
  }

  .left p {
    bottom: 90px;
    right: 90px;
  }
  .left img {
    right: 20px;
  }
} */
@media screen and (max-width: 1300px) {
  /* .right p {
    top: 80px;
    left: 110px;
    width: 70%;
  }

  .left p {
    bottom: 90px;
    right: 100px;
  } */

  .left img {
    right: 40px;
    bottom: 20px;
  }

  .right img {
    left: 50px;
    width: 50%;
    top: 20px;
  }
}
/* @media screen and (max-width: 1060px) {
    .right p {
      top: 70px;
      left: 130px;
      width: 80%;
      font-size: 0.8rem;
    }
  
    .right {
      right: 140px;
    }
  
    .left p {
      bottom: 90px;
      right: 120px;
      font-size: 0.8rem;
    }
  
    .right img {
      width: 50%;
      transform: rotate(30deg);
      top: 20px;
      left: 40px;
    }
  
    .left img {
      right: 50px;
      bottom: 25px;
    }
  
    .mid h2 {
      font-size: 3em;
      line-height: 2.5rem;
    }
  } */
@media screen and (max-width: 900px) {
  /* .right p {
    top: 70px;
    left: 130px;
    width: 80%;
    font-size: 0.7rem;
  }

  .left p {
    bottom: 90px;
    right: 120px;
    font-size: 0.7rem;
  } */

  .right img {
    width: 50%;
    transform: rotate(30deg);
    top: 30px;
    left: 60px;
  }

  .left img {
    right: 70px;
    bottom: 30px;
  }
}
@media screen and (max-width: 820px) {
  .left p {
    right: 110px;
    bottom: 110px;
    width: 30%;
    font-size: 0.6rem;
  }

  .mid h2 {
    font-size: 2.3em;
    line-height: 2.3rem;
    z-index: 2;
  }

  .left img {
    right: 90px;
    bottom: 60px;
  }

  .right p {
    position: relative;
    font-size: 0.6rem;
    width: 180%;
    left: -110px;
    top: 130px;
    text-align: center;
  }
}
@media screen and (max-width: 499px) {
  .right p {
    font-size: 0.45rem;
    width: 80%;
    left: 390px;
  }
}

@media screen and (max-width: 815px) {
  .abhilash_journey_title h2 {
    font-size: 1.5rem;
  }
  .abhilash_journey_title span {
    font-size: 1.2rem;
  }

  .right img {
    left: 180px;
    top: -50px;
    width: 80%;
  }

  .left img {
    bottom: 80px;
    right: 190px;
    width: 70%;
  }

  .mid h2 {
    font-size: 1.4em;
    line-height: 1.4rem;
    z-index: 2;
  }

  .mid img {
    width: 220%;
  }

  .the_start {
    text-align: center;
    letter-spacing: 0.1rem;
    color: #002cc4;
    font-size: 1rem;
    font-weight: 500;
  }

  .hline {
    width: 250px;
    height: 0.5px;
    background-color: #002cc4;
    will-change: auto;
  }

  .three_photos {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .first_section {
    margin-top: 2rem;
    overflow: hidden;
  }
  .date_cir {
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 500;
    left: 0;
  }
  .date_cir_02 {
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 500;
    left: 0;
    /* left: 0; */
  }
  .date_cir_03 p {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    /* margin-top: 0.5rem; */
  }
  .date_cir_02 p {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    /* margin-top: 0.5rem; */
  }
  .date_cir p {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    /* margin-top: 0.5rem; */
  }

  .date_cir_03 {
    left: 0;
    flex-direction: column;
  }
  .date_cir_04 {
    left: 0;
    flex-direction: column;
  }

  .date_cir_line_container {
    position: relative;
    right: 0px;
    /* z-index: 50000; */
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .date_cir_line_container_02 {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ver_line {
    left: 0px;
    height: 130px;
  }

  .ver_line_04 {
    position: relative;
    bottom: -151px;
    right: 0px;
    height: 157px;
    margin-bottom: 5rem;
    left: 0;
  }
  .ver_line_05 {
    left: 0;
    height: 130px;
  }
  .ver_line_06 {
    left: 0;
    height: 105px;
  }

  .sundy_times_ggr {
    /* position: relative; */
    bottom: 750px !important;
  }

  .box_an {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 100;
  }

  .circle_line_gispy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sundy_times_ggr {
    bottom: 700px;
  }

  .gispy_two {
    width: 75%;
  }
  .queen_01 {
    width: 75%;
  }

  .ggr_two {
    width: 75%;
  }

  .con_one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .con_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .con_two {
    bottom: 442px;
  }

  .float_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .img_con h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  .img_con {
    padding: 0;
  }

  .float_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .img_text {
    padding: 0rem 2rem;
    width: 280px;
    text-align: center;
    /* background-color: #fff; */
  }
  .img_text h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    /* background-color: #fff; */
  }

  .second_section {
    height: 330px;
  }

  .ver_line_02 {
    position: relative;
    bottom: -151px;
    right: 0px;
    height: 105px;
    margin-bottom: 5rem;
    left: 0;
  }

  .circle_line_queen {
    position: relative;
    /* top: 450px !important; */
  }

  .ss_04 {
    bottom: 616px;
  }

  .ss_03 {
    z-index: -5555;
  }

  .ss_02 {
    bottom: 346px;
  }

  .ggr {
    bottom: -90px;
  }

  .con_three {
    position: relative;
    top: -00px;
  }

  .pinned_container {
    position: relative;
    bottom: 70px;
  }

  .dc_02 {
    left: 0px;
    flex-direction: column-reverse;
  }

  .ver_line_03 {
    left: 0px;
    bottom: 42px;
    height: 143px;
  }

  .loop {
    font-size: 2rem;
  }

  .half_centery {
    bottom: 0px;
  }

  .half_centery h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.8rem;
    /* filter: drop-shadow(0.2rem 0.2rem 0.4rem #002cc4); */
  }

  .half {
    position: relative;
    right: 80px;
  }
  .later {
    position: relative;
    left: 50px;
  }
}
/* 
@media screen and (max-width: 1510px) and (min-width: 815px) {
  .video_one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .video_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .vd {
    width: 40%;
  }

  .video_02 {
    left: 0px;
  }

  .video_two_text h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #002cc4;
  }

  .video_two_text p {
    font-size: 0.9rem;
  }

  .video_two_text {
    margin-top: 2rem;
    text-align: center;
  }

  .video_one_text h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #002cc4;
  }

  .video_one_text p {
    font-size: 0.9rem;
  }

  .video_one_text {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
} */
