@media screen and (min-width: 1024px) {
  .img_con {
    padding: 0 15rem;
  }

  /* .sundy_times_ggr {
    position: relative;
    bottom: 450px !important;
  } */
}
/* @media screen and (min-width: 3200px) {
  .img_con {
    padding: 0 25rem;
  }

  .img_text {
    padding: 0rem 12rem;
  }
} */

@media screen and (min-width: 1800px) {
  .img_con {
    padding: 0 22rem;
  }

  .mid img {
    width: 75%;
  }

  .title_logo h1 {
    font-size: 8.1rem;
  }

  .title_logo img {
    margin-bottom: 25px;
    width: 248.04px;
    height: 67.86px;
  }

  .right img {
    width: 33%;
  }
  .left img {
    width: 32%;
  }

  .right {
    right: 400px;
  }

  .left {
    left: 400px;
  }

  .img_text {
    padding: 0rem 12rem;
  }

  .img_con_Abhilash {
    padding: 0 22rem;
  }

  .Abhilash_Rescue_Lines_container {
    padding: 0 18rem;
  }
}
