@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat";
  height: 100%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: linear-gradient(#002cc4, #3975f3, #6499f9);
  pointer-events: none;
  overflow: hidden;
  will-change: transform;
}

.logo {
  opacity: 1;
  will-change: transform;
}

.hero_title {
  opacity: 1;
  will-change: transform;
}
.box_an {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 100;
}

.images_container {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 150;
  overflow: hidden;
}

.img_flip {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: absolute;
}

.flip_img1 {
  background-image: url(right_photo.png);
}
.flip_img2 {
  background-image: url(left_photo.png);
}

.flip {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
}

.f2 {
  background: #fff;
}

.progress_bar {
  position: relative;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  will-change: transform;
}

.progress_bar p {
  color: #fff;
}

.progress {
  position: absolute;
  top: 50px;
  transform-origin: top center;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 2000%;
  transform: scaleX(0);
  background-color: #fff;
  transition: all 1s ease;
}

.hero_section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title_logo_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  /* z-index: 100; */
  width: 100%;
  height: 100%;
  background-image: url("/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.title_logo {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_logo img {
  margin-bottom: 25px;
  width: 212px;
  height: 58px;
}

.title_logo h1 {
  font-size: 5.5rem;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}

.line {
  height: 0px;
  width: 3px;
  background: white;
  margin: 40px auto;
  position: relative;
  will-change: transform;
}

/* .mouse_body { */
/* opacity: 1;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 32px; */
/* used just to add space from top */
/* margin-top: 150px !important; */
/* size of the mouse body */
/* height: 50px;
  width: 30px; */
/* to center in browser */
/* margin: 0 auto;
  will-change: transform; */
/* } */

.scroll_text {
  margin-top: 20px;
  font-weight: 400;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  will-change: transform;
}

/* .mouse_wheel {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 8px;
  background-color: #fff; */
/* position property required to play animation  */
/* position: relative;
  height: 3px;
  width: 3px; */
/* to center wheel in mouse body */
/* margin: 0 auto;
  animation: wheel_animation 1.5s linear infinite;
  will-change: transform;
} */

/* include use -moz-, -webkit-, or -o- for respective browser type
@keyframes wheel_animation {
  0% {
    opacity: 0;
    top: 2px;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 33px;
  }
} */

.first_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3.5rem;
  overflow: hidden;
}

.the_start {
  text-align: center;
  letter-spacing: 0.3rem;
  color: #002cc4;
  font-size: 1.2rem;
  font-weight: 500;
  will-change: transform;
}

.hline {
  transform-origin: top center;
  width: 200px;
  height: 0.5px;
  background-color: #002cc4;
  will-change: transform;
}

.up {
  margin-bottom: 5px;
  will-change: transform;
}

.down {
  margin-top: 5px;
  will-change: transform;
}

.three_photos {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap:4rem; */
  left: 180px;
  top: 140px;
  z-index: 2;
}

.left p {
  position: relative;
  bottom: 90px;
  right: 70px;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  color: #070707;
  font-weight: 400;
}

.left img {
  position: relative;
  width: 40%;
  transform: rotate(-30deg);
}

.right {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap:4rem; */
  right: 170px;
  bottom: 2px;
}

.right p {
  position: relative;
  top: 110px;
  left: 80px;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  color: #070707;
  font-weight: 400;
  width: 60%;
}

.right img {
  position: relative;
  width: 45%;
  transform: rotate(30deg);
}

.mid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mid h2 {
  top: -90px;
  /* position: absolute; */
  text-align: center;
  color: #002cc4;
  font-size: 4em;
  line-height: 3.2rem;
  z-index: 2;
}

.mid img {
  width: 90%;
  height: 70%;
}

.second_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.date_cir_line_container {
  position: relative;
  right: 80px;
  /* z-index: 50000; */
  /* margin-top: 1.5rem; */
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.date_cir {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ver_line {
  z-index: -1;
  position: relative;
  bottom: 18px;
  left: 187.2px;
  width: 1px;
  height: 200px;
  transform-origin: top;
  background-color: #070707;
}

.video_con {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 7rem;
}

.video_one {
  bottom: 95px;
  grid-template-columns: 1fr 1.2fr;
}

.video_two {
  margin-top: orem;
  grid-template-columns: 1.2fr 1fr;
  top: -500px;
}

.vd {
  width: 60%;
  border: 1px solid #070707;
}

.video_02 {
  position: relative;
  left: 250px;
  left: 310px;
}

.video_01_01 {
  opacity: 1;
}

.video_one_text {
  padding: 0rem 8rem;
}

.video_two_text {
  padding: 0rem 8rem;
}

.video_one_text h2 {
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 3.5rem;
  color: #002cc4;
}

.video_two_text h2 {
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 3.5rem;
  color: #002cc4;
}

.dc_02 {
  position: relative;
  left: 157.5px;
}

.ver_line_02 {
  z-index: -1;
  position: relative;
  bottom: -100px;
  right: 1.5px;
  width: 1px;
  height: 200px;
  transform-origin: top;
  background-color: #070707;
}

.ver_line_03 {
  z-index: -1;
  position: relative;
  bottom: 40px;
  left: 187.2px;
  width: 1px;
  height: 200px;
  transform-origin: top;
  background-color: #070707;
}

.ss_02 {
  bottom: 395px;
}

.ss_03 {
  bottom: 300px;
}

.boat {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 120px;
  /* height: 1500px; */
}
.webgl {
  position: relative;
  outline: none;
  width: 100%;

}

.grabbing {
  cursor: grabbing;
}

.grab {
  cursor: grab;
}

.loop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20%;
  width: 100%;
  font-size: 5rem;
  white-space: nowrap;
  font-family: "Roboto";
  color: #002cc4;
  text-align: center;
}

.loop h1 {
  font-weight: 400;
  animation-name: animText;
  animation-duration: 29s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loop h1 span {
  -webkit-text-stroke: 1.2px #002cc4;
  color: transparent;
}




@keyframes animText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}
@keyframes anim_rev {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.vdieo_gallery {
  display: flex;
  flex-direction: column;
  width: 300%;
  position: relative;
  /* overflow: hidden; */
  bottom: 0px;
}

.galleries {
  display: flex;
  width: 100%;
  gap: 5px;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.galleries_02 {
  display: flex;
  width: 100%;
  gap: 5px;
  position: relative;
  /* z-index: 0; */
  /* overflow: hidden; */
}

.up {
  z-index: 9999;
}

.gallery_up {
  z-index: 9999;
}

.gallery {
  /* overflow: hidden; */
  display: flex;
  position: relative;
  animation-name: anim;
  animation-duration: 60s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  gap: 5px;
  /* z-index: 1; */

}

/* .gallery_stop {
  display: flex;
  position: relative;
  width: 100%;
  gap: 5px;
} */
.gallery_02 {
  /* overflow: hidden; */
  display: flex;
  /* flex-direction: row-reverse; */
  position: inherit;
  animation-name: anim_rev;
  animation-play-state: running;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  gap: 5px;

}
/* .gallery_02_stop { */
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* position: inherit;
  width: 100%;
  gap: 5px; */
/*  */
/* } */

.video_style {
  width: 20%;
  /* overflow: hidden; */
  position: relative;
  /* z-index: 1; */
}
.video_style video {
  width: 100%;
  border: solid 1px #002cc4;
}
.video_style iframe {
  width: 100%;
  border: solid 1px #002cc4;
}

footer {
  height: 140px;
  overflow-y: hidden;
}

.footer_container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #002cc4;
  /* bottom: 120px; */
  z-index: -1;
}

/* .vdieo_gallery h1 {
  font-size: 2rem;
  text-align: center;
} */

.text {
  font-family: "Roboto";
  width: 100%;
  margin-bottom: 0.5rem;
  /* z-index: 5; */
  /* margin-bottom: 1rem; */

}

.text h1 {
  /* margin-top: 3rem; */
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.8rem;

}